@import "resetku.scss"
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap')
*
	font-family: Lato

.wrapper
	min-height: 100%
	display: flex
	flex-direction: column

.container
	max-width: 1060px
	margin: 0 auto
	padding: 0 10px

.title
	color: #102746
	font-size: 35px
	font-weight: 500

.main
	flex: 1 1 auto

// HEADER HEADER HEADER HEADER HEADER  HEADER HEADER HEADER HEADER HEADER  HEADER HEADER HEADER HEADER HEADER  HEADER HEADER HEADER HEADER HEADER
// HEADER HEADER HEADER HEADER HEADER  HEADER HEADER HEADER HEADER HEADER  HEADER HEADER HEADER HEADER HEADER  HEADER HEADER HEADER HEADER HEADER
.header
	padding-bottom: 373px
	opacity: 0.9
	position: relative
	background: url(/image/one_блок/Image.png)center/cover no-repeat
	&__top
		padding-top: 60px
		display: flex
		justify-content: space-between
		align-items: center
		margin-bottom: 175px
		flex-wrap: wrap
	&__logo
		&:hover
			transform: rotate(360deg)
			transition-duration: 2s
	&__list
		display: flex
	&__item 
		margin-left: 82px
		&:hover
			transform: scale(1.2)
	&__link 
		color: white
		font-size: 18px
		line-height: 24px
		white-space: nowrap
		&:hover
			color: black
	&__body
	&__inner
		color: white
		&:hover
			text-shadow: 3px 3px 3px darkblue
	&__title
		max-width: 620px
		font-size: 50px
		font-weight: 500
		margin-bottom: 22px
	&__text
		max-width: 546px
		font-size: 16px
		line-height: 24px
		margin-bottom: 60px
	&__flex
		display: flex
		color: white
		flex-wrap: wrap
	&__box
		display: flex
		flex-direction: column
		margin-right: 60px
	&__info
		font-size: 18px
		line-height: 24px
		margin-bottom: 22px
		&::before
			content: ""
			display: inline-block
			background: url(/image/one_блок/Oval.png) 0/20px no-repeat
			width: 20px
			height: 20px
			margin-right: 15px
	&__line
		width: 297px
		height: 3px
		background: white
		margin-bottom: 10px
	&__btn
		padding: 15px 40px
		background: #1B7DFF
		text-transform: uppercase
		font-size: 24px
		font-weight: 500
		color: white
		border-top-left-radius: 0px
		border-top-right-radius: 63px
		border-bottom-left-radius: 48px
		border-bottom-right-radius: 0px
		position: relative
		top: 0
		box-shadow: 3px 3px 3px gray
		&:active
			box-shadow: 1px 1px 1px gray
			top: 2px

// CARD CARD CARD CARD CARD CARD CARD CARD CARD CARD CARD CARD CARD CARD CARD CARD CARD CARD CARD CARD CARD 
// CARD CARD CARD CARD CARD CARD CARD CARD CARD CARD CARD CARD CARD CARD CARD CARD CARD CARD CARD CARD CARD 
.card
	max-width: 1262px
	margin: 0 auto
	background: white
	margin-top: -220px
	z-index: 2
	position: relative
	border-radius: 10px
	padding-bottom: 111px
	margin-bottom: 130px
	box-shadow: -8px 8px 36px 0px rgba(34, 60, 80, 0.2)
	&__title
		padding-top: 97px
		margin-bottom: 120px
	&__grid
		display: grid
		grid-template-columns: repeat(3,1fr)
		column-gap: 55px
	&__img
		margin-bottom: 37px
		&:hover
			transition-duration: 0.5s
			transform: scale(-1,1)
	&__subtitle
		font-size: 18px
		font-weight: 500
		line-height: 24px
		margin-bottom: 24px
	&__text
		font-weight: 400
		line-height: 24px
		margin-bottom: 39px
		&:hover
			color: darkblue
	&__info
		text-transform: uppercase
		line-height: 24px
		&:hover
			cursor: pointer
			color: red
		&::after
			content: ""
			background: url(/image/2блок/Shape.png) 0/40px no-repeat
			display: inline-block
			width: 40px
			height: 10px
			margin-left: 30px

// get get get get get get get get get get get get get get get get get get get get get get get get get get get get get get
// get get get get get get get get get get get get get get get get get get get get get get get get get get get get get get
.container__get
	max-width: 1400px
	margin: 0 auto
	padding: 0 30px
.get
	margin-bottom: 50px
	&__flex
		display: flex
		justify-content: space-between
		align-items: center
		gap: 10px
	&__title
		margin-bottom: 7px
	&__line
		width: 253px
		height: 3px
		background:  #006DFE
		margin-bottom: 20px
	&__link
		&::after
			content: ""
			display: inline-block
			background: url(/image/2блок/Shape.png) top/40px no-repeat
			width: 40px
			height: 10px
			margin-left: 15px
	&__grid
		gap: 20px
		display: grid
		grid-template-columns: repeat(6,1fr)
		grid-template-rows: repeat(2,1fr)
		grid-template-areas: 'item1 item1 item1 item2 item2 item2' 'item3 item3 item4 item4 item5 item5'
	&__img
		&:hover
			transform: scale(1.05)
	&__img-1
		grid-area: item1
	&__img-2
		grid-area: item2
	&__img-3
		grid-area: item3
	&__img-4
		grid-area: item4
	&__img-5
		grid-area: item5

//  prefect prefect  prefect prefect prefect prefect prefect prefect prefect prefect prefect prefect prefect prefect prefect prefect
//  prefect prefect  prefect prefect prefect prefect prefect prefect prefect prefect prefect prefect prefect prefect prefect prefect
.prefect
	margin-bottom: 100px
	&__grid
		display: grid
		grid-template-columns: repeat(2,1fr)
		gap: 50px
	&__item
	&__title
		max-width: 360px
		padding-top: 15px
		font-size: 30px
		font-weight: 500
		line-height: 40px
		margin-bottom: 45px
	&__text
		line-height: 24px
		margin-bottom: 92px
		max-width: 520px
	&__subtitle
		line-height: 24px
		color: #006DFE
		&:hover
			color: red
			cursor: pointer
		&::after
			content: ""
			display: inline-block
			background: url(/image/2блок/Shape.png) top/40px no-repeat
			width: 40px
			height: 10px
			margin-left: 15px

// today  today  today  today  today  today  today  today  today  today  today  today  today  today  today  today  today  
// today  today  today  today  today  today  today  today  today  today  today  today  today  today  today  today  today  
.today
	margin-bottom: 100px
	&__title
		margin-bottom: 7px
	&__line
		width: 253px
		height: 3px
		background:  #006DFE
		margin-bottom: 50px
	&__grid
		justify-items: center
		align-content: center
		display: grid
		grid-template-columns: repeat(3,1fr)
		column-gap: 20px
		row-gap: 50px
	&__item
		max-width: 390px
	&__img
		margin-bottom: 45px
	&__text
		max-width: 391px
		line-height: 24px
		margin-bottom: 45px
	&__btn
		position: relative
		padding: 12px 20px
		background: #006DFE
		text-transform: uppercase
		color: white
		box-shadow: 3px 3px 3px gray
		top:0

		&:active
			background: #006DFE
			top: 2px
			box-shadow: 1px 1px 1px gray

// Video   Video   Video   Video   Video   Video   Video   Video   Video   Video   Video   Video   Video   Video   Video   Video   Video   Video
// Video   Video   Video   Video   Video   Video   Video   Video   Video   Video   Video   Video   Video   Video   Video   Video   Video   Video
.video
	margin: 0 auto
	padding-top: 5px
	&__video
		width: 100%

// footer  footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer
// footer  footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer
.footer
	background:  #0E1D28
	padding-bottom: 50px
	&__logo
		&:hover
			transform: scale(-1,1)
			transition-duration: 1s
	&__inner
		padding-top: 119px
		display: flex
		justify-content: space-between
	&__grid
		display: grid
		grid-template-columns: repeat(3,1fr)
		gap: 130px
	&__list
	&__card
		margin-bottom: 3px
		&:hover
			transform: scale(1.2)
	&__link
		color: white
		line-height: 24px
		&:hover
			color: blue

//   MEDIA    MEDIA   MEDIA   MEDIA   MEDIA   MEDIA   MEDIA   MEDIA   MEDIA   MEDIA   MEDIA   MEDIA   MEDIA   MEDIA   MEDIA   MEDIA   MEDIA   MEDIA
//   MEDIA    MEDIA   MEDIA   MEDIA   MEDIA   MEDIA   MEDIA   MEDIA   MEDIA   MEDIA   MEDIA   MEDIA   MEDIA   MEDIA   MEDIA   MEDIA   MEDIA   MEDIA
@media screen and ( max-width:1350px)
	.get
		&__flex
			margin-bottom: 40px
		&__grid
			gap: 10px
			display: grid
			grid-template-columns: repeat(1,1fr)
			grid-template-rows: repeat(2,1fr)
			grid-template-areas:'item1' 'item2'
			justify-items: center
		&__img
		&__img-1
			grid-area: item1
		&__img-2
			grid-area: item2
		&__img-3
			grid-area: item3
			display: none
		&__img-4
			grid-area: item4
			display: none
		&__img-5
			grid-area: item5
			display: none
		&__flex
			display: flex
			flex-direction: column
		&__title
			font-size: 30px
			white-space: nowrap
		&__link
			font-size: 12px
	.prefect
		&__grid
			justify-items: center
			display: grid
			grid-template-columns: repeat(3,1fr)
			gap: 30px
		&__item
		&__item-1
			grid-area: item1
			grid-column:2/3 
			grid-row: 1/2
		&__item-2
			grid-area: item2
			grid-column:2/3 
			grid-row: 2/3
			margin-bottom: 50px
		&__item-4
			grid-area: item3
			grid-column:2/3
			grid-row: 3/4
		&__item-3
			grid-area: item4
			grid-column:2/3
			grid-row: 4/5
	.today
		margin-top: 50px
		&__grid
			justify-items: center
			display: grid
			grid-template-columns: repeat(2,1fr)
			column-gap: 20px
			row-gap: 20px
			row-gap: 30px
	.footer
		&__inner
			display: flex
			flex-direction: column
		&__logo
			text-align: center
			margin-bottom: 30px
		&__grid
			justify-items: center
			align-content: center

@media screen and ( max-width:1150px)
	.get
		&__grid
			gap: 10px

@media screen and ( max-width:988px )
	.header
		&__inner
			text-align: center
			&:hover
				text-shadow: 3px 3px 3px orange
		&__title
			max-width: 988px
			font-size: 35px
		&__text
			max-width: 688px
			margin: 0 auto
			margin-bottom: 100px
		&__flex
			flex-direction: column
			margin-bottom: 30px
			justify-content: center
			align-items: center
			margin: 0 auto
		&__box
			text-align: center
			margin-bottom: 50px
		&__btn
			display: block
	.card
		padding: 0 20px
		&__title
			text-align: center
			margin-bottom: 30px
		&__grid
			grid-template-columns: repeat(4,1fr)
			grid-template-rows: repeat(2,1fr)
			grid-template-areas: 'item1 item1 item2 item2' '. item3 item3 .'
			gap: 30px
		&__item
			text-align: center
		&__item-1
			grid-area: item1
		&__item-2
			grid-area: item2
		&__item-3
			grid-area: item3
	.today
		margin-top: 50px
		&__title
			text-align: center
		&__line
			margin: 0 auto
			margin-bottom: 40px
		&__grid
			display: grid
			grid-template-columns: repeat(1,1fr)
			gap: 20px

@media screen and ( max-width:700px )
	.header
		&__top
			display: flex
			flex-direction: column
		&__logo
			margin-bottom: 30px
		&__item
			display: flex
			flex-direction: column
			margin-left: 15px
	.card
		&__grid
			grid-template-columns: repeat(1,1fr)
			grid-template-areas: 'item1' 'item2' 'item3'
		&__item
			max-width: 400px
			margin: 0 auto